.logo {
    position: absolute;
    height: 100px;
    background-color: black;
    justify-content: left;
  }
  .headerText {    
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;    
    width: 100%;
    font-size: 1.5625rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  .time {
    
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    right: 0;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
  }
